.ctn_sign_up .ctn_article {
    padding: 20px 0px;
    text-align: center;
}

.ctn_sign_up .ctn_article #form_signup {
    display: block;
    text-align: center;
    margin: auto;
}

.ctn_article #form_signup input {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 3px;
    outline: none;
    border: 0px;
    border-bottom: 1px solid black;
}

.ctn_article #form_signup .btn {
    float: left;
    border-radius: 25px;
    border: 0.5px solid #af6e40;
    padding: 3px 13px;
}

.ctn_article #form_signup a {
    float: right;
    font-size: 15px;
    margin-top: 10px;
}

.ctn_sign_up .ctn_article #form_signup p {
    text-align: left;
}

.ctn_sign_up .ctn_article #avatar {
    border: 0px;
}

.ctn_article #form_signup #err {
    float: left;
}

.footer {
    clear: both;
    padding: 20px 0px;
}